<% include ../partials/header %>

<div class="ui container">
    <div id="jumbotron" class="ui inverted vertical masthead center aligned message">
        <div class="ui container">
            <h1 class="ui massive inverted header">
                <i class="html5 icon"></i>
                <div class="content">
                    Canvas Creations
                    <div class="sub header">
                        Exploring the wonders of the HTML canvas element
                    </div>
                    <a class="ui small violet button" href="/creations/new">Add New Creation</a>
                </div>
            </h1>
        </div>
    </div>
    <div class="ui divided very relaxed items container">
        <% creations.forEach(function(creation) { %>
            <div class="creation item">
                <div class="image">
                    <a href="/creations/<%= creation._id %>">
                        <img class="ui fluid rounded image" src="<%= creation.image_url %>">
                    </a>
                </div>
                <div class="content">
                    <a class="header" href="/creations/<%= creation._id %>">
                        <%= creation.title %>
                    </a>
                    <div class="meta">
                        <span>Description</span>
                    </div>
                    <div class="description">
                        <p><%= creation.description %></p>
                    </div>
                    <div class="extra">
                        <a class="ui right floated" href="/creations/<%= creation._id %>">
                            Show More
                        </a>
                    </div>
                </div>
            </div>
        <% }) %>
    </div>
</div>

<% include ../partials/footer %>