<% include ../partials/header %>

<div class="ui container">
    <h1 class="ui huge header"><%= creation.title %></h1>
    <img class="ui large rounded image" src="<%= creation.image_url %>">
    <a href="<%= creation.website_url %>" target="_blank">Visit Website!</a>
    <a class="ui yellow button" href="/creations/<%= creation._id %>/edit">Edit</a>
    <p>Submitted by: <%= creation.author.username %></p>
    
    <a class="ui violet button" href="/creations/<%= creation._id %>/comments/new">Add Comment</a>
    
    <% creation.comments.forEach(function(comment) { %>
        <div class="ui attached segment">
            <p class="ui sub header"><%= comment.author.username %></p>
            <p><%= comment.text %></p>
        </div>
    <% }) %>
</div>

<% include ../partials/footer %>